#navbar {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-gap: 5px;
    top: 0;
    width: 98.75%;
    position: fixed;
  }
#buttongroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    grid-gap: 1px;
  }
#inputbar {
    z-index: 1;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    width: 100%;
    padding-top: 10px;
    position: fixed;
    margin-top: 30px;
  }
input {
    border: 3px solid #494949 !important;
    width: 50%;
    outline: none;
  }